<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% block head %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <script src="{% static 'wwapp/js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'wwapp/css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wwapp/css/style.css' %}">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'wwapp/images/icon.jpg' %}"/>
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="container-fluid h-100">
<noscript>
    You do not have javascript enabled! some features may not work.
</noscript>
<div class="row max-width pb-2" id="banner_container">
    <div class="banner col-12 pb-2" id="banner">

        <div class="row">
            {#            <div class="banner__title float-right col-lg-9 col-6-md col-6-md">#}
            <div class="banner__title col-12">
                <h1>w&amp;wblogs</h1>
                {% if request.user.is_authenticated %}
                    <button class="mt-2 float-right d-none d-md-inline" id="logout-btn"
                            onclick="location.href = '{% url 'account:logout' %}'">Logout
                    </button>
                {% else %}
                    <button class="mt-2 float-right d-none d-md-inline" id="login-btn"
                            onclick="location.href = '{% url 'account:login' %}'">Login
                    </button>
                {% endif %}
            </div>

        </div>
        {#        TODO enable when search functionality is enabled #}
        {% comment %}        <div class="banner__search input-group- mb3">
            <div class="input-group-prepend pb-50">
                <input type="text" name="search" placeholder="Search..">
                <button type="submit" name="search_btn" value="search_text" class="btn btn-dark">Search</button>
            </div>
        </div>{% endcomment %}

        <div class="row banner__nav">
            <div class="banner__nav-links d-none d-md-inline">
                <a href="{% url 'wwapp:index' %}" class="ml-3">Home</a>
                {#                        <a href="{% url 'wwapp:browse_users' %}">Authors</a>#}
                {#            <a href="{% url 'wwapp:browse_articles' %}">All Posts</a>#}
                {#            <a href="{% url 'wwapp:browse_categories' %}">Projects</a>#}
            </div>
            <div class="banner__nav-drop-menu d-md-none d-xs-inline ml-3 mt-2">
                <div class="btn-group">
                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-list"></i>
                    </button>
                    <div class="dropdown-menu bg-dark">
                        {#                    <div class="dropdown-container dropdown-menu">#}
                        <a href="{% url 'wwapp:index' %}" class="ml-3 d-block">Home</a><br/>
                        <a href="{% url 'wwapp:manage_own_content' %}" class="ml-3 d-block">My Posts & Projects</a><br/>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'account:logout' %}" class="ml-3 d-block">Logout</a>
                        {% else %}
                            <a href="{% url 'account:login' %}" class="ml-3 d-block">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="row max-width h-100 content-row">

    <div class="left-nav col-lg-3  d-none d-lg-inline">
        {% block left_nav %}
        {% endblock %}
    </div>

    <div class="content_container col-lg-6 col-md-9 co-sm-10 col-xs-12" id="content_container">
        <div class="content p-3 mb-2 bg-dark text-white">
            {% block content %}
            {% endblock %}
        </div>
        {#        <div content="filler"></div>#}
    </div>

    <div class="right-nav col-lg-3 col-md-3 d-none d-md-inline">
        <div class="sticky-nav">
            {% block right_nav %}
            {% endblock %}
        </div>
    </div>

</div>


<footer class="footer row max-width h-100">
    {#    <div class="col-lg-4 d-none"></div>#}
    <div class="container col-lg-4 col-md-8 col-xs-10 mt-4">
        <i>For support contact: <a href="mailto:wwblogs.help@gmail.com">wwblogs.help@gmail.com</a></i>
        {% block footer %}
        {% endblock %}
    </div>
    {#    <div class="col-lg-4 d-none"></div>#}

</footer>
<div class="popup-container hide-popup" id="popupContainer">
        {#    <h2>Upload Image</h2>#}
<!-- GENERIC DIV AND FORM TO BE USED AS POPUP -->
    <div id="genericPopup">
        <form id="genericPopupForm" action="" method="POST">
            {% csrf_token %}
        </form>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#TODO MAKE LOCAL#}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>