<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% block head %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{% static 'wwapp/js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'wwapp/css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wwapp/css/style.css' %}">
{#    <link rel="shortcut icon" type="image/jpg" href="{% static 'media/images/icon.jpg' %}"/>#}
    <title>WWBLogs - {% block title %}{% endblock %}</title>
</head>

<body class="container-fluid h-100">
<div class="row max-width pb-2" id="banner_container">
    <div class="banner col-12  pb-2" id="banner">
        <div class="row col-12">
            <div class="banner__title col-11">
                <div class="mx-auto">
                    <h1 onclick="location.href = '{% url 'wwapp:index' %}'">w&amp;wblogs</h1>
                </div>
            </div>
            {% if request.user.is_authenticated %}
                <button class="btn btn-primary h-100 mt-2" id="logout-btn"
                        onclick="location.href = '{% url 'wwapp:logout' %}'">Logout
                </button>
            {% else %}
                <button class="btn btn-primary h-100 mt-2" id="login-btn"
                        onclick="location.href = '{% url 'wwapp:login' %}'">Login
                </button>
            {% endif %}
        </div>

        <div class="row banner__nav">
            <a href="{% url 'wwapp:index' %}" class="ml-3">Home</a>
{#            <a href="{% url 'wwapp:browse_users' %}">Authors</a>#}
{#            <a href="{% url 'wwapp:browse_articles' %}">All Posts</a>#}
{#            <a href="{% url 'wwapp:browse_categories' %}">Projects</a>#}
{#            <div class="input-group- mb3">#}
{#                <div class="input-group-prepend pb-50">#}
{#                    <input type="text" name="search" placeholder="Search..">#}
{#                    <button type="submit" name="search_btn" value="search_text" class="btn btn-dark">Search</button>#}
{#                </div>#}
{#            </div>#}
        </div>

    </div>
</div>


<div class="row max-width h-100">

    <div class="nav col-3 ">
        {% block left_nav %}
{#            <h1 class="mx-auto"></h1>#}
        {% endblock %}
    </div>

    <div class="content col-6" , id="content" ,>
        <div class="p-3 mb-2 bg-dark text-whit">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div class="aside col-3">
        {% block right_nav %}
            <h1>Nav div</h1>
        {% endblock %}
    </div>

</div>


<footer class="footer row max-width h-100">
    <div class="container">
        <p><i>For support contact: wwblog.help@gmail.com</i></p>
    </div>
</footer>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>