{% extends 'wwapp/base.html' %}
{% block title %} drag and drop image upload {% endblock %}
{% block head %}
    {% load static %}
    {#    dropzone  js & css#}
    <script src="{% static 'dropzone/dropzone.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'dropzone/dropzone.css' %}">
    <script src="{% static 'wwapp/js/dropzone_custom.js' %}"></script>


{% endblock %}
{% block right_nav %}
{% endblock %}

{% block content %}
    <form action="" id="image-dz" class="dropzone dz-custom" method="POST">
        {% csrf_token %}
        <div class="fallback" id="div-image-dz">
            <input name="file" type="file" multiple/>
            <script>
                function callInitDz() {
                    initDz();
                }
                callInitDz()
            </script>
        </div>
    </form>
    <form id="article-form">
        <label for="editor">content</label>
        <textarea id="editor"></textarea>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}