{% extends 'wwapp/base.html' %}
{% load static %}

{% block head %}
    {#    <script type="text/javascript" src="{% static 'wwapp/js/main.js' %}"></script>#}
    <script defer src="{% static 'dropzone/dropzone.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'dropzone/dropzone.css' %}">
    <script defer src="{% static 'wwapp/js/edit_article.js' %}"></script>
    {#  required to override the dropzone #}
    <link rel="stylesheet" type="text/css" href="{% static 'wwapp/css/edit_article.css' %}">
    {{ form.media }}
{% endblock %}


{% block title %}
    edit {{ article.article_title }}
{% endblock %}
{% block left_nav %}
    <ul class="no-bullet">
        <li class="mt-5">
            {#    TODO check too if moderator#}
            {% if article.author_id == request.user.id %}
                <button id="deleteArticleBtn" class="btn btn-danger"
                        value="{% url "wwapp:delete_article" article.article_id %}">Delete
                </button>
            {% endif %}
        </li>
    </ul>

{% endblock %}

{% block right_nav %}
    <h4><a href="{% url 'wwapp:manage_own_content' %}">My Posts & Projects</a></h4>
{% endblock %}

{% block content %}
    {% load static %}
    {#     <script src="{% static 'tiny_mce/tinymce.min.js' %}" referrerpolicy="origin"></script>#}
    {#    <script src="{% static 'tiny_mce/tinymce.min.js' %}"#}
    {#    <script src="https://cdn.tiny.cloud/1/9kc0jaf7jhmllq281dt33c7bosywayiwi04amdwlkm192lzt/tinymce/5/tinymce.min.js"#}
    {#            referrerpolicy="origin"></script>#}
    {% if request.user == article.autor or request.user in editors %}
        <p>Hidden header</p>
    {% endif %}


    <div id="editorContainer">
        <form method="post" class="TinyEditor" id="formTinyM">
            {#        {{ form.categories_select }}#}
            {% csrf_token %}
            <div>
                {{ form.title.label }}
                {{ form.title }}
                {{ form.secret_note.label }}
                {{ form.secret_note }}
                {{ form.content }}
            </div>
            <div>
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
        <br>
        {% if article.author_id == request.user.id %}
            <div id="editControlsContainer"{% if article.published %} class="edit-controls published" {% else %}
                 class="edit-controls"{% endif %}>
                {# TODO remove when hydration works #}
                <div class="publish-status">
                    {% if article.published %}
                        <span id="txtPublishStatus">Currently public in: {{ parent_category }}</span>
                    {% else %}
                        <p id="txtPublishStatus">This post is private</p>
                    {% endif %}
                    <button class="btn btn-primary"
                            id="draftArticleBtn"
                            onclick="location.href='{% url 'wwapp:draft_article' article.article_id %}'"> Draft
                    </button>
                    <button id="viewArticleBtn" class="btn btn-primary"
                            value="{% url "wwapp:open_article" article.article_id %}"> View
                    </button>
                </div>
                <button id="openPublishPopupBtn" class="btn btn-primary">Publish</button>
                <br>
                <button id="uploadImageBtn" class="btn btn-primary">Upload Images</button>
            </div>
        {% endif %}
    </div>
    <input id="ajax_get_publish_options_url" type="hidden" value="{% url "wwapp:ajax_get_publish_options" %}">
    <input id="ajax_publish_article_url" type="hidden" value="{% url "wwapp:ajax_publish_article" %}">
    <input id="ajax_create_child_category_url" type="hidden" value="{% url "wwapp:ajax_create_child_category" %}">
    <input id="ajax_get_article_details_url" type="hidden"
           value="{% url "wwapp:ajax_get_article_details" article.article_id %}">
    <input id="ajax_get_article_content_url" type="hidden"
           value="{% url "wwapp:ajax_get_article_content" article.article_id %}">
    <br/>
    {#    <button id="testBtn" class="btn btn-primary">test</button>#}
    {% if editors_count == 0 %}
        <p>no editors</p>
    {% else %}
        <ul>
            {% for e in editors %}
                <li>e.editor_id_id</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
<script src="{% static 'wwapp/js/jquery-3.6.0.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>