{% extends "wwapp/base.html" %}
{% block head %}
    <script type="text/javascript">
        function deleteCategory(the_id) {
            if (confirm("Are you sure you want to delete this {{ category_type }} ({{ category.category_name }})?"
                + "\nAll child {{ child_category_type }}s will be deleted, and all posts will be drafted")) {
                var url = "/category/" + the_id.toString() + "/delete";
                window.location.replace(url);
            } else {
                return false;
            }
        }

        function deleteChildCategory(cat_id, cat_name) {
            if (confirm('Are you sure you want to delete' + cat_name + '?\nAll ' + cat_name + '\'s categories will be deleted, and it\'s posts drafted')) {
                var url = '/category/' + cat_id.toString() + '/delete';
                window.location.replace(url.toString());
            } else {
                return false;
            }
        }

    </script>
{% endblock %}
{% block title %}
    {{ category.category_name }} - Edit
{% endblock %}
{% block left_nav %}
    <p class="ml-5">
        <button class="btn btn-danger" onclick="deleteCategory({{ category.category_id }})">Delete</button>
    </p>
{% endblock %}

{% block right_nav %}
    <h4><a href="{% url 'wwapp:manage_own_content' %}">My Posts & Projects</a></h4>
{% endblock %}

{% block content %}
    {#    <h2>{{ category.category_name }}</h2>#}
    <form method="post" class="form-group">
        {% csrf_token %}
        <div>
            {{ form.category_name }}
            <div>
                {% for error in form.category_name.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            </div>
            {{ form.category_description }}
            <div>
                {% for error in form.category_description.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            </div>

            <button class="btn btn-success" value="save" name="save" type="submit">Update</button>
        </div>
        {% if child_category_type %}
            <h3>{{ child_category_type }}s</h3>
            {% if child_categories %}
                <ul>
                    {% for cat in child_categories %}
                        <li>
                            <a href="{% url 'wwapp:open_category' cat.category_id %}">{{ cat.category_name }}</a>
                             - <a href="{% url 'wwapp:edit_category' cat.category_id %}">edit</a>
                             - <span onclick="deleteChildCategory({{ cat.category_id }}, {{ cat.category_name }})" class="delete-link">delete</span>
{#                             - <a onclick="deleteChildCategory({{ cat.category_id }}, {{ cat.category_name }})" class="delete-link">delete</a>#}
{#                            <button type="button" class="btn btn-primary h-100 edit-btn"#}
{#                                    onclick="location.href = '{% url 'wwapp:edit_category' cat.category_id %}'"><i#}
{#                                    class="bi bi-pencil-square edit-icon"></i></button>#}
{#                            <button type="button" class="btn btn-danger h-100 delete-btn"#}
{#                                    onclick="deleteChildCategory({{ cat.category_id }}, {{ cat.category_name }})"><i#}
{#                                    class="bi bi-trash-fill delete-icon"></i></button>#}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p><i>No {{ child_category_type }}s in this {{ category_type }}</i></p>
            {% endif %}
        {% endif %}
        {% if child_category_type %}
            Add new {{ child_category_type }}
            {{ form.new_category_name }}
            <p>
                {% for error in form.new_category_name.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            </p>
            <button class="btn btn-primary" type="submit" name="add" value="add">Add</button>
            <p>
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            </p>
        {% endif %}

        <h3>Articles</h3>
        {% if child_articles %}
            <ul>
                {% for a in child_articles %}
                    <li>
                        <a href="{% url 'wwapp:open_article' a.article_id %}">{{ a.article_title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p><i>No Articles in this {{ category_type }}</i></p>
        {% endif %}

    </form>

    <h3>Category Editors</h3>
    {#    <a href="{% url 'wwapp:user_details' category_creator.user_id %}">{{ category_creator.username }}#}
    <p>{{ category.category_creator.username }}
        - Creator of category</p>
    {% if editors %}
        {% for u in editors %}
            <li>{{ u.username }}</li>
            {#            <li><a href="{% url 'wwapp:user_details' u.user_id %}">{{ u.username }}</a></li>#}

        {% endfor %}
    {% else %}
        <p><i>No Other Editors</i></p>
    {% endif %}
{% endblock %}