{% extends 'wwapp/base.html' %}
{% block title %}
    My Posts
{% endblock %}

{% block left_nav %}
{% endblock %}

{% block right_nav %}
    {% if request.user.is_authenticated %}
        {#        <h2>Hello, {{ request.user.username }}</h2>#}
        <h4><a href="{% url 'wwapp:index' %}">Home</a></h4>
        <h4><a href="{% url 'wwapp:new_article' %}">New post</a></h4>
        <h4><a href="{% url 'wwapp:new_project' %}">New Project</a></h4>
        {#        <h4><a href="{% url 'wwapp:manage_own_content' %}">Browse My Posts</a></h4>#}
    {% endif %}
{% endblock %}


{% block content %}
    {% if request.user.is_authenticated %}
        <h3>My Posts</h3>
{#    {% elif %}#}
{#        <h3>{{ user.username }}'s posts</h3>#}
    {% endif %}

    <h4>Publications</h4>
    {% if published_articles %}
        <ul title="publications_list">
            {% for article in published_articles %}
                <li>
                    <a href="{% url 'wwapp:open_article' article.article_id %}">{{ article.article_title }}</a>
                     - <a href="{% url 'wwapp:edit_article' article.article_id %}">edit</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p><i>You have no published posts.<br>Publish one of your drafts or make new post <a href="{% url 'wwapp:new_article' %}">here</a></i></p>
    {% endif %}

    <h4>Drafts</h4>
    {% if drafted_articles %}
        <ul title="drafts_list">
            {% for article in drafted_articles %}
                <li>
                    {{ article.article_title }}
                    {#                    <a href="{% url 'wwapp:open_article' article.article_id %}">{{ article.article_title }}</a>#}
                    - <a href="{% url 'wwapp:edit_article' article.article_id %}">edit</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no drafts. Make a new post <a href="{% url 'wwapp:new_article' %}">here</a></p>
    {% endif %}

    <h3>My Projects</h3>
    {% if user_projects %}
        <ul title="drafts_list">
            {% for project in user_projects %}
                <li>
                    <a href="{% url 'wwapp:open_category' project.category_id %}">{{ project.category_name }}</a>
                     - <a href="{% url 'wwapp:edit_category' project.category_id %}">edit</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no projects yet. Start a new project <a href="{% url 'wwapp:new_project' %}">here</a></p>
    {% endif %}
    {% comment %}TODO figure out data structure
        <ul>
            {% for proj in user_projects %}
                <li>
                    {% if proj.topics  %}
                        <ul>
                            {% for t in topics %}
                                <li>
                                    <a href="{% url 'wwapp:open_category' t.category_id %}">t.category_name</a>
                                    {% if sup_topics %}
                                        {% for st in sub_topics %}
                                            <a href="{% url 'wwapp:open_category' st.category_id %}">st.category_name</a>
                                        {% endfor %}
                                    {% else %}
                                        <p><i>No topics in this project</i></p>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <i>No topics in this project</i>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>{% endcomment %}

    <h3>Shared with me</h3>
    <p>Coming soon..</p>

{% endblock %}
