{% extends 'wwapp/base.html' %}
{% block title %}{{ article.article_title }}
{% endblock %}

{% block head %}
    {% load static %}
{% endblock %}

{% block content %}
    <div class="article-heading">
        <div class="article-heading__article-details">
            <span id="publish-date" class="article-date convert-to-local-date">
                {{ article.pub_date|date:"F j Y, H:i" }}
            </span>
            <br/>
            {#            <a href="{% url "wwapp:view_profile" article.author_id %}"></a>#}
            <span class="article-category">from <a class="article-category"
                                                   href="{% url "wwapp:open_category" article_category.category_id %}">{{ article_category.category_name }}</a></span>
            <span class="article-author"> - post by {{ article.author.username }}</span>
        </div>

        <h2>{{ article.article_title }}</h2>
    </div>
    <div class="article-container">
        {% if has_editor_privilege and secret_note != None %}
            <div class="article-secret">
                <span id="hidden-notes-label">hidden notes</span><br>
                {{ secret_note }}
            </div>
        {% endif %}
        {{ article_text|safe }}
    </div>
{% endblock %}

{% block right_nav %}
    {% if request.user.is_authenticated %}
        <h4><a href="{% url 'wwapp:manage_own_content' %}">My Posts & Projects</a></h4>
        <h4><a href="{% url 'wwapp:new_article' %}">New Post</a></h4>
        <h4><a href="{% url 'wwapp:new_project' %}">New Project</a></h4>
        {% if has_editor_privilege %}
            <button class="btn btn-primary" onclick="location.href='{% url "wwapp:edit_article" article.article_id %}'">
                Edit
            </button>
        {% endif %}
    {% endif %}

{% endblock %}

{% block footer %}
{% endblock %}