{% extends 'wwapp/base.html' %}
{% block title %}
    {{ article.article_title }}
    {% load static %}
{% endblock %}

{% block content %}
    <h3>{{ article.article_title }}</h3>
    {% if has_editor_privelage %}
        <div>
            {{ hidden_notes }}
        </div>
    {% endif %}

    <div>
        <embed type="text/html" src="{{ article_url }}" class="article-content text-light">
        {#        {{ content }}#}
    </div>
{% endblock %}

{% block right_nav %}
    {% if article.published %}

        <button class="btn btn-primary" onclick="location.href='{% url "wwapp:edit_article" article.article_id %}'">
            Edit
        </button>
    {% else %}
        <button>Publish</button>
    {% endif %}
{% endblock %}
