{% extends 'wwapp/base.html' %}
{% block title %} test upload {% endblock %}

{% block content %}
    <h2>upload file </h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document">
        <button type="submit">Upload File</button>
    </form>
    {% if image_url %}
            <p>{{ image_url  }}</p>
    <img src="{{ image_url }}" alt="uploaded image">
    {% else %}
        <p>Error could not upload image</p>
    {% endif %}


{% endblock %}