@charset "utf-8";
/* NORMAL */
@font-face {
    font-family: 'WorkSans';
    /*src: url('/fonts/work-sans/WorkSans-Regular.otf') format('opentype');*/
    src: url('work-sansans-Regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'WorkSans';
    src: url('work-sansans-Italic.otf') format('opentype');
    font-style: italic;
    font-weight: normal;
}

/* REGULAR */
@font-face {
    font-family: 'WorkSans';
    src: url('work-sansans-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'WorkSans';
    src: url('work-sansans-MediumItalic.otf') format('opentype');
    font-style: italic;
    font-weight: 500;
}

/* BOLD */
@font-face {
    font-family: 'WorkSans';
    src: url('work-sansans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans';
    src: url('work-sansans-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

/* SEMI-BOLD */
@font-face {
    font-family: 'WorkSans';
    src: url('work-sansans-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans';
    src: url('work-sansans-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

/* LIGHT */
@font-face {
    font-family: 'WorkSans';
    src: url('work-sansans-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans';
    src: url('work-sansans-LightItalic.otf') format('opentype');
    font-style: italic;
    font-weight: 200;
}

/* THIN */
@font-face {
    font-family: 'WorkSans';
    src: url('work-sansans-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans';
    src: url('work-sansans-ThinItalic.otf') format('opentype');
    font-style: italic;
    font-weight: 100;
}

/*Alternate font*/
@font-face {
    font-family: 'Alta';
    src: url('../static/wwapp/css/fonts/alata/alata-regular.ttf') format('truetype');
    font-style: italic;
    font-weight: 100;
}

/*Testing looks by id*/
/*#normal {*/
/*    font-style: italic;*/
/*    font-weight: 100;*/
/*    color: lightgreen;*/
/*}*/

/*#light {*/
/*    !* font-style: italic; *!*/
/*    !* font-weight: 200; *!*/
/*    font-weight: 100;*/
/*    font-style: normal;*/
/*    color: lightblue;*/
/*}*/

/*#bold {*/
/*    !* font-style: bold; *!*/
/*    !* font-style: italic; *!*/
/*    font-weight: bold;*/
/*    color: wheat;*/
/*}*/

