.banner {
    background: #5E5694;
    padding-bottom: 5em;
    padding-left: 8em;
    /*width: 99%;*/
    /*z-index: 0;*/
    /*overflow: hidden;*/
    /*no scroll-bar in div */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.banner__title {
    /*#width: 100%;*/
}


.banner__nav {
    /*height: 2vw;width: 100%;*/
}

#login-btn {
    background: #6DDCBD;
}

body {
    background: #222222;
    color: white;
    /*height: 100%;*/
}

footer {
    background: #333333;
    color: #888888;
}