{% extends "wwapp/base.html" %}

{% block title %}
    {{ category.category_name }} - Edit
{% endblock %}

{% block content %}
    <h2>{{ category.category_name }}</h2>
    <h3>Sub-Categories:</h3>
    {% if category.category_type != category.Category_Type.SUBTOPIC %}
        {% if child_categories == 0 %}
            {% for c in child_categories %}
                <a href="{% url 'wwapp:open_category' c.category_id  %}">c.category_name</a>
            {% endfor %}
        {% else %}
            <p><i>No Articles</i></p>
        {% endif %}
    {% endif %}
    <h3>Articles:</h3>
    {% if child_articles %}
        <ul>
            {% for a in child_articles %}
                <li>
                    <a href="{% url 'wwapp:open_article' a.article_id %}">{{ a.article_title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p><i>No Articles</i></p>
    {% endif %}


    <h3>Editors:</h3>
    <a href="{% url 'wwapp:user_details' category_creator.user_id %}">{{ category_creator.username }} - Creator of category</a>
    {% if editors %}
        {% for u in editors %}
            <a href="{% url 'wwapp:user_details' u.user_id %}">{{ u.username }}</a>
        {% endfor %}
    {% else %}
        <p><i>No Other Editors</i></p>
    {% endif %}
{% endblock %}