{% extends 'wwapp/base.html' %}
{% load static %}

{% block title %}
    edit {{ article.article_title }}
{% endblock %}

{% block head %}
{#    <script type="text/javascript" src="{% static 'wwapp/js/main.js' %}"></script>#}
    <script type="text/javascript">
        function deleteArticle(the_id) {
            if (confirm("Are you sure you want to delete this post (" + '{{ article.article_title }}'
                + ")?\nLinked posts will not be deleted, only unliked")) {
                var url = "/post/" + the_id.toString() + "/delete";
                window.location.replace(url);
            } else {
                return false;
            }
        }
    </script>
    {{ form.media }}
{% endblock %}

{% block left_nav %}
    <ul class="no-bullet">
        <li>
            {% if article.published %}
                <button class="btn btn-primary">Draft</button>
                <p>Currently public in: {{ published_category }}</p>
            {% else %}
                <button class="btn btn-primary">Publish</button>

            {% endif %}
        </li>
        <li class="mt-5">
            {#    TODO check too if moderator#}
            {% if article.author_id == request.user.id %}
                {#            <button onclick="location.href='{% url "wwapp:delete_article" article.article_id %}'" class="btn btn-danger">Delete</button>#}
                {#                <button onclick="deleteArticle('{{ article.article_id }}')" class="btn btn-danger">Delete</button>#}
                <button onclick="deleteArticle({{ article.article_id }})" class="btn btn-danger">Delete</button>
                {#                <button onclick="linked()" class="btn btn-danger">Delete</button>#}
            {% endif %}
        </li>
    </ul>



{% endblock %}

{% block right_nav %}
    <h4><a href="{% url 'wwapp:manage_own_content' %}">Browse My Posts</a></h4>
{% endblock %}

{% block content %}
    {% load static %}
    {# <script src="{% static 'tiny_mce/tinymce.min.js' %}" referrerpolicy="origin"></script>#}
    <script src="https://cdn.tiny.cloud/1/9kc0jaf7jhmllq281dt33c7bosywayiwi04amdwlkm192lzt/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    {% if request.user == article.autor or request.user in editors %}
        <p>Hidden header</p>
    {% endif %}



    <div id="editorContainer">
        <form method="post" class="TinyEditor" id="formTinyM">
{#        {{ form.categories_select }}#}
            {% csrf_token %}
            {{ form.title.label }}
            {{ form.title }}
            {{ form.secret_note.label }}
            {{ form.secret_note }}
            {{ form.content }}
            <p>
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            </p>
            <button type="submit" class="btn btn-success">Save</button>

        </form>
    </div>


    {% if editors_count == 0 %}
        <p>no editors</p>
    {% else %}
        <ul>
            {% for e in editors %}
                <li>e.editor_id_id</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
