{% extends "wwapp/base.html" %}

{% block title %}
    {{ category.category_name }} - Edit
{% endblock %}

{% block content %}
    <h2>{{ category.category_name }}</h2>
    {% if category.category_type == "PROJECT" %}
        <h3>Topics</h3>
    {% elif category.category_type == "TOPIC" %}
        <h3>Sub-Topics</h3>
    {% else %}
        <h3>This is a sub topic, right?</h3>
    {% endif %}

    {% if child_categories %}
        <ul>
            {% for cat in sub_cats %}
                <li>
                    <a href="{% url 'wwapp:open_category' c.category_id %}">c.category_name</a>
                    <a href="{% url 'wwapp:delete_category' c.category_id %}">delete</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p><i>No topics in this {{ cat.category_type }}</i></p>
    {% endif %}

    <h3>Articles:</h3>
    {% if child_articles %}
        <ul>
            {% for a in child_articles %}
                <li>
                    <a href="{% url 'wwapp:open_article' a.article_id %}">{{ a.article_title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p><i>No Articles in this {{ category.category_type }}</i></p>
    {% endif %}

    <form method="post" class="form-group">
        <p>add category: {{ form.new_category }}</p>
        <button type="submit" name="save">Add</button>
    </form>

    <h3>Category Editors:</h3>
    <a href="{% url 'wwapp:user_details' category_creator.user_id %}">{{ category_creator.username }}
        - Creator of category</a>
    {% if editors %}
        {% for u in editors %}
            <a href="{% url 'wwapp:user_details' u.user_id %}">{{ u.username }}</a>
        {% endfor %}
    {% else %}
        <p><i>No Other Editors</i></p>
    {% endif %}
{% endblock %}