{% extends 'wwapp/base.html'%}
{% block title %}
   Home
{% endblock %}


{% block content %}
    <h3>Latest articles</h3>
    {% if latest_articles_list %}
        <ul title="Latest articles">
            {% for article in latest_articles_list %}
                <li>
                    <a href="{% url 'open_article' article.article_id %}">{{ article.article_title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no articles.</p>
    {% endif %}
    <h3>Browse Projects</h3>
    {% if categories != -1%}
        {% for cat in categories %}
            <li>
                <a href="{%  url 'open_category' cat.category_id %}">{{ cat.category_name }}</a>
            </li>
        {% endfor %}
    {% else %}
        <p>There are no articles.</p>
    {% endif %}
{% endblock %}
