<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} WWblog {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script defer src="{% static 'bootstrap/dependencies/jquery-3.3.1.slim.min.js' %}"></script>
    <script defer src="{% static 'bootstrap/dependencies/popper.min.js' %}"></script>
    <script defer src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'wwapp/css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wwapp/css/style.css' %}">

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    {% block head %}
    {% endblock %}
</head>
<body class="container fluid h-100 bg-dark text-white" style="font-family: WorkSans, serif">
<div class="d-flex justify-content-center pt-5 accountContentContainer">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>