{% extends 'account/base.html' %}
{% block title %} Change Password {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="content" id="content">
        <h1>Change Password</h1><br/>
        {% load crispy_forms_tags %}

        <form method="post" style="font-family: WorkSans, serif">

            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                    <div class="alert alert-danger mt-2">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
                <div class="alert alert-danger mt-3">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% if success %}
                <div class="alert alert-success mt-3">
                    <strong>new password saved</strong>
                </div>
            {% endif %}

            {#            {{ form.non_field_errors }}#}
            <div class="mt-3">
                <button type="button" onclick="location.href = '{% url 'wwapp:manage_own_content' %}'"
                        class="btn btn-primary">Back
                </button>
                <button type="submit" class="btn btn-success float-right">Save</button>
            </div>
        </form>
    </div>
{% endblock %}