{% extends 'account/base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
    <div class="content col-4" id="content">
        <h1 style="font-family: Alta, serif">Login</h1>
        {% load crispy_forms_tags %}

        <form method="post" class="col-12">

            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            <p style="font-weight: 400;">don't have an account? <a href="{% url 'wwapp:register' %}">register</a></p>
            <button type="submit" name="save" class="btn btn-primary">Login</button>
            <p>
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </p>
        </form>
    </div>
{% endblock %}