{% extends 'account/base.html' %}
{% block title %} Success! {% endblock %}

{% block content %}
    <div class="content" id="content">
        <h1 style="font-family: Alta, serif">Successful Registration!</h1><br>
        <p style="font-weight: 400;">Congratulations, you successfully registered your new account.
            <br>A moderator will review your account and you will be notified by email when you are verified.
            <br><br> On the mean time, why not browse our blog? &nbsp;click here to return <a
                    href="{% url 'wwapp:index' %}">home</a></p>
    </div>
{% endblock %}
