{% extends 'account/base.html' %}
{% block title %} Register {% endblock %}

{% block content %}
    <div class="content" id="content">
        <h1>Register Account</h1>
        {% load crispy_forms_tags %}

        <form method="post" style="font-family: WorkSans, serif">

            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                {{ field }}
                <p>
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                </p>
            {% endfor %}
            <p style="font-weight: 400;">already have an account? <a href="{% url 'account:login' %}">login</a></p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
