.banner {
    background: #5E5694;
    /*padding-bottom: 5em;*/
    /*padding-left: 8em;*/
    /*width: 99%;*/
    /*z-index: 0;*/
    /*overflow: hidden;*/
    /*no scroll-bar in div */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.banner__title {
    /*#width: 100%;*/
}


.banner__nav {
    /*height: 2vw;width: 100%;*/
}

#logout-btn {
    background: #6DDCBD;
}

#login-btn, #logout-btn {
    background: #6DDCBD;
}

body {
    background: #222222;
    color: white;
    /*font-family: "Times New Roman", serif;*/
    /*font-family: Alta, serif;*/
    font-style: normal;
    /*height: 100%;*/
}

footer {
    background: #333333;
    color: #888888;
}

.content {
    min-height: 90vh;
    /*background-color: red;*/
    /*border: dashed #00dd00;*/
    border-radius: 4%;
}


/*to remove asterisks from required fields on crispy forms */
.asteriskField {
    display: none;
}


/*FONT CONFIGURATION*/
html {
    /*root font size*/
    font-size: 100%;
}

h1, h2, h3, h4 {
    font-family: WorkSans, serif;
}

h1 {
    /*font-family: Alta, serif;*/
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    /*font-family: "Segoe UI", serif;*/
    font-size: 1em;
}

h1, h2 {
    font-weight: 600;
}

h3, h4 {
    font-weight: 600;
}

/*dropzone customisation*/
.dz-custom {
    border: dashed !important;
    border-color: #3c3c3c;
    border-radius: 20px;
    background-color: #757373;
}

.dz-custom:hover {
    background-color: #aea2d7;
}
