.banner {
    background: #5E5694;
    min-height: 10vh;
    box-shadow: .5rem .5rem 1rem .1rem #1a1a1a;
    /*padding-bottom: 5em;*/
    /*padding-left: 8em;*/
    /*width: 99%;*/
    /*z-index: 0;*/
    /*overflow: hidden;*/
    /*no scroll-bar in div */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.banner__title {
    /*#width: 100%;*/
}


.banner__nav {
    /*height: 2vw;width: 100%;*/
}

/*#logout-btn {*/
/*    background: #59b59b;*/
/*}*/

#login-btn, #logout-btn {
    background: #59b59b;
}

body {
    min-height: 100vh;
    background: #222222;
    color: white;
    /*font-family: "Times New Roman", serif;*/
    /*font-family: Alta, serif;*/
    font-style: normal;
    /*height: 100%;*/
}


.content-row {
    min-height: 80vh;
}

footer {
    background: #333333;
    color: #888888;
    margin-top: 1vh;
    min-height: 8vh;
    text-align: center;
}

.content{
    box-shadow: .5rem .5rem 1rem .1rem #1a1a1a;
    /*min-height: 85vh;*/
    background-color: #343A40;
    /*height: auto;*/
    font-family: 'WorkSans', serif;
}

.content .article-heading {
    margin-left: 8%;
    margin-top: 0.2em;
}

.content .article-container {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    min-height: fit-content;
    word-wrap: break-word;
}
.article-container img {
    max-width: 100%;
    height: auto;
}

.content .article-content {
    /*width: 100%;*/
    min-height: fit-content;
    font-family: 'WorkSans', serif;

    /*color: white;*/
    /*background-color: #569456;*/
}

.content .article-details {
    /*font-size: 0.7em;*/
    color: #bababa;
    /*line-height: 5px;*/
}

.content .article-date {
    color: #bababa;
    font-size: .9em;
}

.content .article-author {
    color: #bababa;
    line-height: 10%;
    font-size: .9em;
}

.content .article-category {
    color: #bababa;
    line-height: 10%;
}


.content .article-secret {
    color: #bababa;
    /*background-color: #5E5694;*/
    margin: 1em 0;
    /*font-size: 200px;*/
    /*font-style: italic;*/
}

#hidden-notes-label {
    font-weight: 500;
    font-size: 1.1em;
}

#hidden-notes-label-info {
    font-weight: 600;
    vertical-align: super;
    /*font-size: smaller;*/
}

/*to remove asterisks from required fields on crispy forms */
.asteriskField {
    display: none;
}

/*remove bullets from ul elements*/
.no-bullet {
    list-style-type: none;
}

/*FONT CONFIGURATION*/
html {
    /*root font size*/
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: RobotoSlab, sans-serif;
    /*font-family: RobotoSlab, serif;*/
}

h1 {
    /*font-family: Alta, serif;*/
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    /*font-family: "Segoe UI", serif;*/
    font-size: 1em;
}

h1, h2 {
    font-weight: 600;
}

h3, h4 {
    font-weight: 600;
}

/*BANNER LINKS*/
.banner a:link {
    color: #c4c2d4;
    padding: .1em .2em;
    font-family: RobotoSlab, serif;
}

.banner a:visited {
    /*color: #45426b;*/
    /*color: #aea2d7;*/
    /*color: #bdb6d7;*/
    color: #c4c2d4;
}

.banner a:hover {
    background-color: #aea2d7;
    color: #2c264a;
    font-style: normal;
    text-decoration: none;
}


/*CONTENT LINKS */
.content a:link {
    font-weight: 500;
    /*background-color: #67647a;*/
    /*padding-left: .3em;*/
    /*padding-right: .3em;*/
    color: #9CDCFE;
}

.content a:visited {
    color: #9CDCFE;
}

.content a:hover {
    /*color: #9cdcfe;*/
    color: white;
    /*background-color: #3a5353;*/
    text-decoration: none;
    /*background-color: lightgreen;*/
}

.content a:active {
}


/*RIGHT NAV LINKS*/
.right-nav a:link {
    background-color: #67647a;
    padding-left: .3em;
    padding-right: .3em;
    color: #9CDCFE;
}

.right-nav a:visited {
    color: #9CDCFE;
}

.right-nav a:hover {
    /*color: #9cdcfe;*/
    background-color: #42404f;
    /*background-color: #5d8181;*/
    text-underline: none;
    text-decoration: none;
    /*background-color: lightgreen;*/
}

.right-nav a:active {
    background-color: #927c83;
}

.delete-link {
    color: #9CDCFE;
    font-weight: 500;
}

.delete-link:hover {
    color: #ff7878;
}

.delete-link:active {
    color: #e70000;
}

textarea{
    font-family: 'WorkSans', serif;
}

/*
!*Testing *!
.right-nav{
    background: #c100b7;
}

.content_container{
    background: #56b595;
}

.left-nav{
    background: #00b300;
}*/
